@import url(reset.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8f6f4;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
}

.navbar img {
  width: 3rem;
  margin: 0;
  padding: 0;
}

.row1 {
  padding: 7% 10%;
}

.row1 .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row1 .content1 h1 {
  width: 90%;
  font-size: 4em;
  font-family: fantasy;
  margin: 1rem;
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 0 1rem;
}

.row1 .content1 .first {
  font-size: 1rem;
  line-height: 2rem;
  width: 60%;
  margin: 3rem 0 0 10rem;
  position: relative;
}

.row1 .content1 .first::after {
  display: block;
  position: absolute;
  background-color: brown;
  width: 70px;
  height: 2px;
  left: -100px;
  top: 15px;
  content: "";
}

.row1 .content1 .sns1 {
  border-top: 1px solid black;
  margin-top: 2rem;
  text-align: right;
  position: relative;
  bottom: 0;
}

.row1 .content1 .sns1 a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 1rem;
  margin-top: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.row1 .content1 .sns1 a:hover {
  color: brown;
}

.row1 .picture1 img {
  width: 100%;
  padding-top: 4rem;
}

.row1 .picture1 .picture_name {
  font-style: italic;
  margin-top: 0.5rem;
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .row1 {
    padding: 1rem 0;
    margin: 0;
  }
  .row1 img {
    padding: 0 3rem;
  }
  .row1 .picture_name {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 992px) {
  .sns1 a {
    text-align: center;
  }
}

.row2 {
  padding: 7% 10%;
  background-image: url(../img/bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  height: 100%;
}

.row2 div {
  font-size: 1rem;
  line-height: 2rem;
  margin: auto;
}

.row2 img {
  margin: 0;
  padding: 0.3rem;
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .row2 {
    padding: 0;
    margin: 3rem 2rem;
  }
  .row2 div {
    padding: 0;
    margin: 2rem 0;
  }
}

.row3 {
  padding: 7% 10%;
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.row3 h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.row3 div {
  padding: 4%;
  font-size: 1rem;
  line-height: 2rem;
}

.row3 p {
  margin-bottom: 3rem;
}

.row3 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.801);
  border: 1px solid rgba(0, 0, 0, 0.801);
  text-align: center;
  padding: 16px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.row3 a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid black;
}

@media screen and (max-width: 992px) {
  .row3 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.row4 {
  background-color: black;
  position: relative;
}

.row4 .brian {
  padding: 7% 10%;
}

.row4 .bg {
  background-image: url(../img/member2.jfif);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
}

.row4 h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color: white;
}

.row4 div {
  padding: 5%;
  font-size: 1rem;
  line-height: 2rem;
  color: white;
}

.row4 .colorspace {
  background-color: #9e6804;
  opacity: 0.2;
  position: relative;
  right: 15%;
  margin-top: 7%;
}

@media screen and (max-width: 992px) {
  .row4 {
    position: relative;
  }
  .row4 .colorspace {
    background-color: #9e6804;
    opacity: 0.2;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30%;
    margin-top: 0;
  }
}

.row5 {
  padding: 7% 10%;
  position: relative;
}

.row5 .john {
  padding-top: 3rem;
  z-index: 1;
}

.row5 .bgimage {
  opacity: 0.5;
  position: relative;
  right: 9%;
}

.row5 .bgimage img {
  width: 120%;
  height: 100%;
}

.row5 h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.row5 p {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.row5 .colorbox {
  width: 30%;
  height: 100px;
  background-color: orange;
  opacity: 0.3;
  position: absolute;
  bottom: 10%;
  left: 40%;
}

.row5 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.801);
  border: 1px solid rgba(0, 0, 0, 0.801);
  text-align: center;
  padding: 16px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.row5 a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid black;
}

@media screen and (max-width: 992px) {
  .row5 {
    text-align: center;
  }
  .row5 img {
    width: 50%;
    padding: 4rem;
    padding-bottom: 2rem;
  }
  .row5 .colorbox {
    display: none;
  }
  .row5 .john {
    padding-top: 1.5rem;
    z-index: 1;
  }
}

.row6 {
  background-color: black;
  color: white;
}

.row6 h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.row6 p {
  font-size: 1rem;
  line-height: 2rem;
}

.row6 img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.row6 div {
  padding: 0;
}

.row6 div.content {
  padding: 7rem 10rem 7rem 5rem;
}

@media screen and (max-width: 992px) {
  .row6 img {
    width: 90%;
    margin-left: 5%;
  }
  .row6 div.content {
    padding: 4rem;
  }
}

.row7 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fdc74d;
}

.row7 .slidepic {
  width: 20%;
  border: 1px solid black;
  margin: 5rem;
}

footer {
  background-color: #333333;
  padding: 10rem;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */