@import url(reset.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f8f6f4;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.row1 {
  padding: 7% 10%;
}

.row1 .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row1 .content1 h1 {
  width: 90%;
  font-size: 4em;
  font-family: fantasy;
  margin: 1rem;
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 0 1rem;
}

.row1 .content1 .first {
  font-size: 1rem;
  line-height: 2rem;
  width: 60%;
  margin: 3rem 0 0 10rem;
  position: relative;
}

.row1 .content1 .first::after {
  display: block;
  position: absolute;
  background-color: brown;
  width: 70px;
  height: 2px;
  left: -100px;
  top: 15px;
  content: "";
}

.row1 .content1 .sns1 {
  border-top: 1px solid black;
  margin-top: 2rem;
  text-align: right;
  position: relative;
  bottom: 0;
}

.row1 .content1 .sns1 a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 1rem;
  margin-top: 1rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.row1 .content1 .sns1 a:hover {
  color: brown;
}

.row1 .picture1 img {
  width: 100%;
  padding-top: 4rem;
}

.row1 .picture1 .picture_name {
  font-style: italic;
  margin-top: 0.5rem;
  text-align: right;
}

@media screen and (max-width: 1200px) {
  .row1 {
    padding: 1rem 0;
    margin: 0;
  }
  .row1 img {
    padding: 0 3rem;
  }
  .row1 .picture_name {
    padding: 0 3rem;
  }
  .row1 .content1 h1 {
    margin: 1rem;
    padding: 1rem 2rem;
    width: 100%;
  }
  .row1 .content1 .first {
    padding: 1rem;
    width: 68%;
  }
}

@media screen and (max-width: 992px) {
  .sns1 a {
    text-align: center;
  }
}

.row2 {
  padding: 7% 10%;
  background-image: url(../img/bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: right;
  height: 100%;
}

.row2 div {
  font-size: 1rem;
  line-height: 2rem;
  margin: auto;
}

.row2 img {
  margin: 0;
  padding: 0.3rem;
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .row2 {
    padding: 0;
    margin: 3rem 2rem;
  }
  .row2 div {
    padding: 0;
    margin: 2rem 0;
  }
}

.row3 {
  padding: 7% 10%;
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.row3 h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.row3 div {
  padding: 4%;
  font-size: 1rem;
  line-height: 2rem;
}

.row3 p {
  margin-bottom: 3rem;
}

.row3 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.801);
  border: 1px solid rgba(0, 0, 0, 0.801);
  text-align: center;
  padding: 16px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.row3 a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid black;
}

@media screen and (max-width: 992px) {
  .row3 {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.row4 {
  background-color: black;
  position: relative;
}

.row4 .brian {
  padding: 7% 10%;
}

.row4 .bg {
  background-image: url(../img/member2.jfif);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.2;
}

.row4 h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  color: white;
}

.row4 div {
  padding: 5%;
  font-size: 1rem;
  line-height: 2rem;
  color: white;
}

.row4 .colorspace {
  background-color: #9e6804;
  opacity: 0.2;
  position: relative;
  right: 15%;
  margin-top: 7%;
}

@media screen and (max-width: 992px) {
  .row4 {
    position: relative;
  }
  .row4 .colorspace {
    background-color: #9e6804;
    opacity: 0.2;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30%;
    margin-top: 0;
  }
}

.row5 {
  padding: 7% 10%;
  position: relative;
}

.row5 .john {
  padding-top: 3rem;
}

.row5 .bgimage {
  opacity: 0.5;
  position: relative;
  right: 9%;
}

.row5 .bgimage img {
  width: 120%;
  height: 100%;
}

.row5 h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.row5 p {
  font-size: 1rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.row5 .colorbox {
  width: 30%;
  height: 100px;
  background-color: orange;
  opacity: 0.3;
  position: absolute;
  bottom: 10%;
  left: 40%;
}

.row5 a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.801);
  border: 1px solid rgba(0, 0, 0, 0.801);
  text-align: center;
  padding: 16px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.row5 a:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid black;
}

@media screen and (max-width: 992px) {
  .row5 {
    text-align: center;
  }
  .row5 img {
    width: 50%;
    padding: 4rem;
    padding-bottom: 2rem;
  }
  .row5 .colorbox {
    display: none;
  }
  .row5 .john {
    padding-top: 1.5rem;
  }
}

.row6 {
  background-color: black;
  color: white;
}

.row6 h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.row6 p {
  font-size: 1rem;
  line-height: 2rem;
}

.row6 img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.row6 div {
  padding: 0;
}

.row6 div.content {
  padding: 7rem 10rem 7rem 5rem;
}

@media screen and (max-width: 992px) {
  .row6 img {
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
  }
  .row6 div.content {
    padding: 5rem;
  }
}

.row7 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fdc74d;
}

.row7 .disco {
  padding: 5rem 2rem 5rem 5rem;
}

.row7 .disco h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
}

.row7 .disco ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 1rem;
}

.row7 .disco ul li {
  width: 17rem;
  height: 2rem;
}

.row7 .slidepic {
  width: 30%;
  height: 100%;
  margin: 3rem;
}

@media screen and (max-width: 992px) {
  .row7 {
    text-align: center;
  }
  .row7 .disco {
    padding: 3rem;
    position: relative;
  }
  .row7 .disco ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row7 .slidepic {
    width: 50%;
  }
}

footer {
  background-color: #333333;
  padding: 8rem;
  color: white;
  text-align: center;
}

footer .flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .flex_container .left {
  font-size: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 1rem;
}

footer .flex_container .middle {
  font-size: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 1rem;
}

footer .flex_container .sns2 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 1rem;
}

footer .flex_container .sns2 a {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer .flex_container .sns2 a:hover {
  cursor: pointer;
  color: gray;
}

@media screen and (max-width: 992px) {
  footer {
    padding: 3rem;
  }
  footer .flex_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#lgbtn, #rgbtn {
  border: none;
  background-color: transparent;
  padding: 10px 16px;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#lgbtn:hover, #rgbtn:hover {
  cursor: pointer;
  color: #fdc74d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.424);
  z-index: 1;
}

.modaltitle {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-top: -1.5rem;
  margin-bottom: 3rem;
}

.modal-content {
  background-color: #f8f6f4;
  margin: 5% auto;
  padding: 3.5rem 3rem;
  border: 1px solid #888;
  width: 38%;
  min-width: 530px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: right;
  z-index: 1;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: -ms-grid;
  display: grid;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85%;
}

div.inline {
  width: 100%;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

div.inline label {
  display: block;
  width: 100%;
  margin-bottom: 0;
  font-size: 0.87em;
  font-weight: bold;
}

.nameline {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.checkline {
  font-size: 0.9em;
}

div.checkline input {
  margin-right: 0.7em;
}

div.checkline span {
  color: #6fa0df;
}

input[type=text] {
  outline: none;
  height: 2rem;
  border: none;
  border-radius: 3px;
  padding-left: 8px;
  width: 48%;
  -webkit-box-shadow: 1px 1px 2px #d8d7d7;
          box-shadow: 1px 1px 2px #d8d7d7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

input[type=email], input[type=password], input[type=tel], select {
  outline: none;
  height: 2rem;
  border: none;
  border-radius: 3px;
  margin: 0;
  padding-left: 8px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 2px #d8d7d7;
          box-shadow: 1px 1px 2px #d8d7d7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

input[placeholder] {
  font-size: 0.8em;
}

option {
  font-size: 0.95rem;
}

.btnline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
}

.regisbtn {
  width: 40%;
  color: white;
  text-shadow: 1px 1px 2px darkgray;
  padding: 0.8rem 2rem;
  margin: 0 1rem;
  border: none;
  -webkit-box-shadow: 1px 1px 1px #d8d7d7;
          box-shadow: 1px 1px 1px #d8d7d7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 20px;
}

#submit {
  background-color: lightgreen;
}

#submit:disabled {
  background-color: gray;
}

#submit:active {
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

#reset {
  background-color: lightsteelblue;
}

#reset:hover {
  background-color: #6fa0df;
  -webkit-box-shadow: 2px 2px 2px #d8d7d7;
          box-shadow: 2px 2px 2px #d8d7d7;
}

#reset:active {
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}

.lgline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
}

.lgline input {
  width: 300px;
  height: 2.5rem;
}

.loginbtn {
  width: 40%;
  color: white;
  text-shadow: 1px 1px 2px darkgray;
  padding: 0.8rem 1rem;
  margin: 0 1rem;
  border: none;
  -webkit-box-shadow: 1px 1px 1px #d8d7d7;
          box-shadow: 1px 1px 1px #d8d7d7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 20px;
}

.loginbtn:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */